<h2>You have requested email change option!</h2>
<p>
    To change email go to
    <a href=<%= "#{Application.get_env(:email_worker, :front_host)}/edit/change-email?hash=#{@data.hash}&action=confirm" %>>Confirm</a>
    <br>
    If you did not request a change email follow
    <a href=<%= "#{Application.get_env(:email_worker, :front_host)}/edit/change-email/?hash=#{@data.hash}&action=cancel" %>>Cancel</a>
</p>