<h2>You have requested email change password!</h2>
<p>
    To change email go to
    <a href=<%= "#{Application.get_env(:email_worker, :front_admin_host)}/login/recovery?hash=#{@data.hash}" %>>Confirm</a>
    <br>
    If you did not request a change email follow
    <a href=<%= "#{Application.get_env(:email_worker, :front_admin_host)}/login/recovery/cancel?hash=#{@data.hash}" %>>Cancel</a>
</p>
