<h2>Welcome to Smile!</h2>
<p>
    Administrator <strong>Knowledge Smile</strong> has decided to give you a role <%= "#{@person.role}"%>
    <br>
    <p> To log in to the admin panel, go to the links
        <a href= <%= "#{Application.get_env(:email_worker, :front_admin_host)}/admin/sing_in/" %>>Knowledge Smile Web Panel</a>
    and use the following information</p>
</p>
