# {{ ansible_managed }}
{% set vhost_params = item.value %}

upstream {{ vhost_params.upstream_name }} {
    server {{ vhost_params.phoenix_server }}:{{ vhost_params.redirect_port }};
}

map $http_x_forwarded_proto $proxy_x_forwarded_proto {
  default $http_x_forwarded_proto;
  ''      $scheme;
}

server {
    server_name {{ vhost_params.server_name }} {% for alias in vhost_params.server_aliases|default([]) %}{{alias}} {% endfor %} ;

    listen 80;
    listen 443 ssl http2;

    if ($proxy_x_forwarded_proto = "http") {
        return         301 https://$server_name$request_uri;
    }

    add_header X-Backend-Server $hostname always;

    ssl_certificate {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};

    location /uploads {
        root  {{ shared_path }};
    }

    location / {
        include proxy_params;
        proxy_redirect off;
        proxy_pass http://{{ vhost_params.upstream_name }};
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header Host $host;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
    }
}
