<html>
  <head>
    <link rel="stylesheet" href="<%= static_url(Teacher.Endpoint, "/css/style.css") %>">
  </head>
  <body>
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>
  </body>
</html>